/* バックグラウンドカラー */
.bg {
    background-color: aliceblue;
}

body {
    margin: 0;
}


/* ヘッダー */
main {
    max-width: 960px;
    margin:  0 auto;
}

header {
    display: flex;
    margin-bottom: -40px;
    align-items: center;
    word-wrap: break-word;
    }



img {
    border-radius: 50%;
    border: 1px solid black;
    width: 50%;
    align-items: center;
}

.top-img {
    width: 35%;
    margin-top: 20px;
    text-align: center;
}

.top-img p {
    margin-top: 20px;
    font-size: 30px;
}

.top-p {
    margin-left: 20px;

}

.hr {
    font-size: 36px;
}

.top-p p {
    line-height: 20px;
}

.bold {
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
}

/* 習熟度 */
h1 {
    border-left:5px solid #000000; /*線の設定*/
    padding:2px 8px; /*余白の設定*/
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
}

.proficiency{
    display: flex;
    flex-wrap: wrap;

}

.proficiency div {
    flex-basis: 45%;
    margin: 10px 20px;
}

h2 {
    border-left:5px solid #000000; /*線の設定*/
    padding:2px 8px; /*余白の設定*/
    font-size: 24px;
}

li {
    font-size: 16px;
    margin-right: 0; /* 最後の列のマージンを削除 */
}

/* スキル */
.second {
    max-width: 960px;
    margin:  0 auto;
}

.second div {
    display: flex;
    flex-wrap: wrap;
}

.skil-2 div {
    flex-basis: 40%;
    margin: 10px 30px;
    display: block;
}

h3:before {
    content: "■";
}

.skil-2 ul {
    line-height: 10px;
}

.skil-2 li {
    line-height: 20px;
}

/* 経歴 */
.career p {
 margin: 0;
}

h4 {
    font-size: 24px;
}

/* 実績 */
.achievement p {
    font-size: 16px;

}


/* スマホ用画面 */
@media (max-width: 768px) {
    .top-p p {
        font-size: 16px;
    
    }
}